#enter_room {
  display: block;
  align-items: center;
  max-width: calc(100% - 40px);
  /* width: 680px; */
  width: 380px;
  z-index: 2;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px;
}

#enter_room .enter-room-input-container {
  width: 100%;
  padding: 0 8px 5px 0;
  text-align: left;
  color: #253858;
  height: fit-content;
}

#enter_room .enter-room-input-container .enter-room-title {
  display: inherit;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}

#enter_room .helper-link {
  position: absolute;
  top: 29px;
  right: 31px;
  font-size: 14px;
}

#enter_room .enter-room-input-container .enter-room-input {
  border: none;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 0px;
  border-radius: 5px;
  margin-top: 10px;
  height: 35px;
  box-sizing: border-box;
}